@model IEnumerable<HomeViewModel>

<partial name="_Carousel" />

<h2>Available Courses</h2>
<div class="row">
    @foreach (var course in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@course.ImageUrl" alt="" />
                <div class="caption">
                    <h3 class="center-block">
                        <a asp-controller="Course" asp-action="Details" asp-route-id="@course.CourseId">@course.Title</a>
                    </h3>
                </div>
            </div>
        </div>
    }
</div>

